/* generic warning styles */
.warning {
  font-family: 'Roboto', sans-serif;
  /* color: #FFFFFF; */
  /* background-color: #B33A3A; */
  color: #B33A3A;
  background-color: #FFFFFF;
}

.warning.banner {
  padding: 10px;
  border: 1px solid #B33A3A;
}

/* styles for browser warning */
.warning.full {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10002;
  left: 0;
  top: 0;
  background-color: white;
  overflow-x: hidden; /*disable horizontal scroll*/
  /* display: none; */
  display: none;
}

.warning-wrapper {
  position: relative;
  top: 150px;
  left: 100px;
}

/* close button for warnings */
.close-button::after {
  /* color: #FFFFFF; */
  color: #B33A3A;
  font: 14px/100% 'Roboto', sans-serif;
  position: absolute;
  right: 0;
  text-decoration: none;
  /* text-shadow: 0 1px 0 #fff; */
  top: 0;
  content: 'x'; /* ANSI x letter */
  margin: 5px;
}

.warning-header {
  vertical-align: middle;
  white-space: nowrap;
  font-size: 24px;
  display: inline;
  position: relative;
  margin-right: 30px;
}

.warning.full .warning-header {
  position: absolute;
  top: 100px;
  left: 0;
  font-size: 36px;
}

.link-disabled {
    cursor: default;
}

/*small warning icon*/
.fa.icon-sm {
  margin-right: 20px;
  position: relative;
  text-align: left;
  display: inline;
}

/* full screen warning icon */
.warning.full .fa {
  position: absolute;
  /* padding: 20px; */
  top: 0;
  left: 0;
}

.warning-link  {
  /* color: #FFFFFF; */
  color: #B33A3A;
  text-decoration: underline;
  display: inline-block;
  margin: 2px;
}

.warning-link:hover {
  /* color: #FFFFFF; */
  color: #B33A3A;
}

.warning-link:focus{
  /* color: #FFFFFF; */
  color: #B33A3A;
}

.warning-text {
  text-align: left;
  position: relative;
  left: 56px;
  font-size: 18px;
  display: block;
  padding-right: 10px;
}

.warning.banner .warning-text{
  left: 50px;
}

.warning.full .warning-text {
  position: absolute;
  font-size: 24px;
  top: 175px;
  left: 0;
  /* display: block; */
}

/* for warning design 2 */
.warning_line {
  display: block;
  position: static;
}

/* THIS NEEDS TO BE FIXED LATER */
/* take % to standard size */
.profile-icon {
  margin: 8px;
  height: 40%;
  width: 40%;
}

/*bootstrap tooltip styles */
.tooltip {
  z-index: 10000;
  margin: 0 auto;
  display: inline;
}

/* this becomes the arrow border */
.tooltip.bottom .tooltip-arrow {
  top: 0;
  width: 20px;
  border-bottom-color: #B33A3A;
  display: inline-block;
  border-bottom-width: 15px;
  border-right-width: 15px;
  border-left-width: 15px;
  border-top-width: 0px;
  margin-left: -15px;
  z-index: 10002;
}

/* this becomes the arrow fill */
.tooltip.bottom .tooltip-arrow::after {
  content: '';
  top: 1px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 0px;
  border-bottom: 14px solid white;
  /* top: 0; */
  position: absolute;
  z-index: 10003;
  margin-left: -14px;
}

.tooltip-inner {
  margin: 10px;
  padding: 10px;
  max-width: none;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 3px 3px #d3d3d3;
  border: 1px solid #B33A3A;
  position: relative;
  left: 150px;
}

.tooltip .warning-header {
  vertical-align: bottom;
  white-space: nowrap;
  font-size: 24px;
  display: inline;
  position: relative;
}

/* animation */
/* .inline-arrow.slideInDown {
  -webkit-animationw-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
}

.inline-warning.slideInDown {
  -webkit-animationw-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
}

.tooltip.slideInDown {
-webkit-animation-duration: 1s;
-webkit-animation-delay: 0s;
-webkit-animation-iteration-count: 1;
}

@keyframes slideInDown {
from {
transform: translate(0, -30%);
visibility: hidden;
}

to {
transform: translate(0, 0);
visibility: visible;
}
}

.slideInDown {
animation-name: slideInDown;
animation-duration: 1s;
animation-fill-mode: both;
} */



/* for the signin page */
.form-group input {
  border-top: none;
  border-right: none;
  border-left: none;

}

.form-group input:focus {
  border-bottom: 1.5px solid #4285f4;
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
}

/* inline warning styles */
.link-wrapper {
  display: inline;
  position: relative;
}

.warning-wrapper {
  display: block;
  position: relative;
}

.inline-warning {
  z-index: 10000;
  display: block;
  border-radius: 5px;
  position: static;
  padding: 10px;
  margin-left: auto;
}

.inline-arrow {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 45%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #B33A3A;

}
.inline-inner {
  text-align: center;
  font-size: 14px;
  /* box-shadow: 3px 3px #d3d3d3; */
  border-radius: 5px;
  display: inline-block;
  left: 0;
  right: 0;
  position: relative;
  text-align: center;
  width: fit-content;
  padding: 10px;
}

svg {
  height: 100%;
  width: 100%;
}
